html{
    height:100%;
    width:100%;
}
.container{ 
    width:100%;
    height:100vh;
    background-image: url("rpc.jpg");
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;

}
.content{
    color:crimson;
    text-align: center;
    font-size: larger;
} 
.box{
    border: 1px solid black;
    padding: 20px;
    background-color: white;
}
nav{
    text-align: center;
}
nav a{
    text-decoration: none;
    color:white;
    display: block;
    margin-top: 10px;
    font-size: small;
}
.btn{
    
        border: 1px solid black;
        padding: 10px;
        background-color:black;
        text-align: center;
}
.head{
    text-align: center;
    font-size: xx-large;
    border: 1px solid black;
    padding: 20px;
    background-color: darkcyan
    
}

